nav {
    border: 1px solid green;
    width: 100%;
    padding: 3%;

    a {
        color: grey;
        border: purple 1px solid;
        margin: 4%;
    }
    .logo {
        padding: 2.5% 1% 0%;
    }
}
.blocky {
    display: inline-block;
}
.borderCheck() {
    border: 2px dotted magenta;
}
.heading {
    width: 100%;
    display: inline-block;
    .borderCheck();

    .heading1 {
        margin-left: 2%;
        .blocky();
        border: 1px solid goldenrod;
        width: 45%;
        h1 {
            padding: 10% 15%;
            font-size: 500%;
        }
        button {
            padding: 2% 3%;
            margin: 0 40%;
            text-align: center;
        }
    }
    .circle {
        .blocky();
        border: 1px solid blue;
        width: 45%;
        text-align: center;
    }
}
.top-section {
    width: 100%;
    margin: 0 5%;
    .feats,
    .about {
        .blocky();
        width: 43%;
        h2 {
            padding: 5% 0 0;
        }
        p {
            padding: 0 0 3%;
        }
    }
}
.banner {
    img {
        width: 100%;
    }
    width: 90%;
    margin: 0 5%;
}
.triSection {
    width: 100%;
    margin: 0 5%;
    .services,
    .product,
    .vision {
        .blocky();
        width: 30%;
    }
    .services {
        padding-right: 1%;
    }
}
