nav {
    border: 1px solid green;
    width: 100%;
    padding: 3%;

    a {
        color: grey;
        border: purple 1px solid;
        margin: 4%;
    }
    .logo {
        padding: 2.5% 1% 0%;
    }
}
.blocky() {
    display: inline-block;
}

.borderCheck() {
    border: 2px dotted magenta;
}
.container() {
    width: 90%;
    margin: 0 5% 0 5%;
}

.heading {
    .container();
    display: inline-block;
    .borderCheck();
    padding-bottom: 3%;

    .heading1 {
        margin-left: 2%;
        .blocky();
        border: 1px solid goldenrod;
        width: 45%;
        h1 {
            padding: 10% 15% 0;
            .borderCheck();
            font-size: 500%;
        }
        button {
            .borderCheck();
            padding: 2% 3%;
            margin: 0 40%;
            text-align: center;
        }
    }
    .circle {
        .blocky();
        border: 1px solid blue;
        width: 45%;
        text-align: center;
    }
}
.top-section {
    .container();
    .borderCheck();
    .feats,
    .about {
        .blocky();
        width: 49%;
        h2 {
            padding: 5% 0 0;
        }
        p {
            padding: 0 0 3%;
        }
    }
}
.banner {
    img {
        width: 100%;
    }
    .container();
    margin: 3% 5%;
}
.triSection {
    .container();
    .borderCheck();
    padding-bottom: 2%;
    .services,
    .product,
    .vision {
        .blocky();
        width: 30%;
    }
    .services {
        margin-right: 1%;
        padding-right: 2%;
    }
    .product {
        padding: 0 1%;
        margin-right: 2%;
    }
    .vision {
        padding-left: 1%;
        .borderCheck();
    }
}
.contact {
    padding: 1.5% 0%;
    .container();
    .borderCheck();
}
footer {
    text-align: center;
    h6 {
        font-size: 1rem;
    }
}
