/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

*{
	margin: 0;
	padding: 0;
}
/* Added margin and padding to everything, saw Brit do it on lecture */

/* I want to get the nav and the great idea logo to sort right and turn it grey, possibly add some padding too. */
body{
	padding-top: 2%;
}
body nav{
	margin-bottom: 2%;
	width: 100%;

}
.logo{

	display: inline-block;
	width: 15%;
	margin-left: 8%;
}
nav a{	
	display: inline-block;
	width:12%;	
	color: gray;
	margin: 0 auto 2%;
	text-align: center;
	text-decoration: none;
}

/* I want to make the h1 bigger, looks like I will need to get a section for h1 and the circle photo.*/
/* a button will need to be added too for get started and place it below h1 */

.headin{
	display: inline-block;
	text-align: center;
	margin: 0 auto;
	padding: 0 0;
}
section.headin{
	width: 49%;
	
}
h1{
	font-size: 400%;
	padding: 25% 0 5%;
}
.headin button{
	background-color: white;
	padding: 1% 5%;
	border: 1px solid black;
	margin: 5% 0 15%;
	}
body div img{
	display: inline-block;	
	padding: 2% 0 0;
	margin: 5% 0 0 10%;
	max-width: 39%;
	position: relative;
}


/* Make the headings bigger*/

h2{
	font-size: 125%;
}
h5{
	padding: 3% 0 1%;
	font-size: 125%;
}

/* Going to add inline block to all divs */
.feats{
	margin-top: 3%;
	display: inline-block;
	width: 51%;
	padding: 0 5% 3%;
	margin-right: -2%;
}

.vices{	
	width: 31%;
	display: inline-block;
	padding: 3% 5% 3%;
}

/* make sure that lower image fits the whole section of the screen and make it centered */
figure img{
	display: block;
	position: relative;
	width: 90%;
	margin: 0 auto;
	
}

/* add the lines to the begining of the paragraphs and before the footer */

.underline{
	border-bottom: 1px solid black;
	margin: 0 5%;
}

.overline{
	border-top: 1px solid black;
	margin: 0 5%
}

/* fix the footer so it is spaced correctly and copyright is centered and has padding/ margins */


h6{
	
	font-weight: bold;
	text-align: center;
	padding: 5% 0 8%
}

/* going to add a hover feature to the button. Its not lively when i hover over it. my brain thought something was wrong with the button. its there, just not alive yet. */

button:hover{
	background-color: black;
	color:white;
	
}


/* extra stuff */


nav{

	position: fixed;
	width: 100%;
	top: 0;
	background-color: white;
	fill-opacity: 100%;
	z-index: 99	;
}





